<div class="dropdown-menu-container" #dropdown>
  <div class="main-menu">
    <div>
      <span class="main-menu-btn f-btn" (click)="toggleMenu()"><mat-icon>account_circle</mat-icon></span>
    </div>
  </div>
  <div class="sub-menu-container">
    <ul class="menu-items" [@menu]="menuState">
      <!-- <li class="menu-item" [ngClass]="settingsClass">
        <a href="javascript:void(0)" class="link">Settings</a>
      </li> -->
      <li class="menu-item">
        <a href="javascript:void(0)" class="link" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</div>