<div>
	<div class="page-heading">
		<h6 class="header-text-title" style="margin-left: 1%;">All Active Coupons</h6>
	</div>
	<div class="card col-sm-12" style="border:none;">
		<p-table id="customerTable" #dt [value]="couponData" [columns]="cols" responsiveLayout="scroll" [paginator]="true"
			[rows]="10" [showCurrentPageReport]="true"
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
			[globalFilterFields]="['Code']" styleClass="p-datatable-striped">

			<ng-template pTemplate="caption">
				<div class="row">
					<span class="p-input-icon-right ml-5">
						<i class="pi pi-search"></i>
						<input pInputText type="text" placeholder="Search by Code"
							(input)="applyFilterGlobal($event, 'contains')" />
					</span>
				</div>
			</ng-template>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th>S.No</th>
					<th *ngFor="let col of columns">{{col.headers}}</th>
					<th>Options</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-i="rowIndex" let-coupon>
				<tr>
					<td>{{i+1}}</td>
					<td>{{coupon.Country}}</td>
					<td>{{coupon.Code}}</td>
					<td>{{coupon.Title}}</td>
					<td>{{coupon.couponType}}</td>
					<td>{{coupon.endDate}}</td>
					<td>{{coupon.firstTimeUser}}</td>
					<td>
						<!-- <button class="p-button-warning" pButton type="button" icon="pi pi-user-edit" pTooltip="Edit Customer" tooltipPosition="bottom" style="margin-right:5px"></button> -->
						<button class="p-button-danger" pButton type="button" icon="pi pi-trash" pTooltip="In-Active promotion"
							tooltipPosition="bottom"></button>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
					<td class="text-center text-danger font-weight-700" colspan="12">
						No Records Found.
					</td>
				</tr>
			</ng-template>
		</p-table>
		<ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
	</div>
</div>