<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
    <div class="card col-sm-12" style="height: 100vh">
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="h-100 mt-0">
                    <div class="card-body">
                        <!--***********avatar upload section is here **********-->
                        <form name="AvatarForm">
                            <div class="row gutters">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                    <div class="form-group">
                                        <label for="name" class="txt-style">upload image</label>
                                        <input type="file" class="form-control" placeholder="avatar"
                                            (change)="onChangeAvatar($event)" #fileinput />
                                    </div>
                                </div>
                                <div class="row gutters mt-2">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                                        <div class="text-right">
                                            <button pButton type="button" id="reset" name="reset"
                                                class="p-button-danger mr-4" (click)="resetForm(fileinput)">
                                                Cancel
                                            </button>
                                            <button pButton type="button" id="submit" name="submit"
                                                class="p-button-success" (click)="addAvatar()">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--*********All avatar image list ************-->
                        <p class="txt-style">List of All Avatar Images</p>


                        <div class="row gutters">
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-12"
                                *ngFor="let avatarImage of allAvatars">
                                <div class="image-div" (click)="deleteAvatar(avatarImage.avatarId)">
                                    <img [src]="getFullImageUrl(avatarImage.avatarBase256ImagePath)" alt="">
                                    <div class="overlay-text">
                                        <i class="pi pi-times"></i>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" >
                                <div class="avatar">
                                    <img src="../../../assets/images/avt.png" alt="">
                                    <div class="row gutters">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                                            style="margin-top: 5px;">
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" >
                                <div class="avatar">
                                    <img src="../../../assets/images/avt.png" alt="">
                                    <div class="row gutters">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                                            style="margin-top: 5px;">
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12" >
                                <div class="avatar">
                                    <img src="../../../assets/images/avt.png" alt="">
                                    <div class="row gutters">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                                            style="margin-top: 5px;">
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>                           -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>