<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
    <div class="page-heading">
        <h1 class="header-text-title">PROFILE</h1>
    </div>
    <div class="basic-info-header">
        <div class="basic-info-profile">
            <div><img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" /></div>
            <button mat-button color="primary">
                <mat-icon>camera</mat-icon>CHANGE
            </button>
        </div>

        <div class="basic-info-content" ngxUiLoaderBlurred>
            <div class="flex-grid-container-content flex-row sub-header-row">
                <div class="grid-row-data-item detail-heading">
                    <span class="header-text-title">Basic Details</span>
                </div>
                <div class="grid-row-data-item edit-section">
                    <button mat-button color="primary" class="no-hover-effect edit-link" [routerLink]="['/customer/editcustomer']" [queryParams]="{ id:id }">
                        <mat-icon>edit</mat-icon>EDIT
                    </button>
                    <button mat-button color="primary" class="no-hover-effect edit-link" [routerLink]="['/customer']">
                        <mat-icon>keyboard_backspace</mat-icon>BACK
                    </button>
                </div>
            </div>
            <div class="flex-grid-container-content flex-row detail-row">
                <div class="grid-row-data-item">
                    <mat-label>EMAIL</mat-label>
                    <div *ngIf="profile?.email != null">
                        {{profile.email}}
                    </div>
                    <div *ngIf="profile?.email == null">
                        {{"-------"}}
                    </div>
                </div>
                <div class="grid-row-data-item">
                    <mat-label>PHONE</mat-label>
                    <div *ngIf="profile?.phone;then profile?.phone else temp">
                    </div>
                    <div>
                    <ng-template #profile.phone>
                        {{profile?.phone}}
                    </ng-template>
                    <ng-template #temp>
                        {{"-------"}}
                    </ng-template>
                </div>

                </div>
                <div class="grid-row-data-item">
                    <mat-label>ROLE</mat-label>
                    <div *ngIf="profile?.role">
                        {{profile?.role}}
                    </div>
                    <!-- <div *ngIf="profile?.role">
                        {{"-------"}}
                    </div> -->
                </div>
                <div class="grid-row-data-item">
                    <mat-label>STATUS</mat-label>
                    <div>
                        {{profile?.status}}
                    </div>
                </div>
        </div>
    </div>
</div>
<ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
</div>