<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
    <div class="card col-sm-12" style="height: 100vh">
        <p class="txt-style">All Recommended movies list !</p>
        <p-table id="customerTable" [value]="RecommendedMovies" responsiveLayout="scroll" scrollHeight="70vh"
            [paginator]="true" [rows]="20" [showCurrentPageReport]="true" [resizableColumns]="true"
            columnResizeMode="expand" [responsive]="true" styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
                <tr>
                    <th>Title</th>
                    <th>Director</th>
                    <th>Release Year</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-RecommendedMovies>
                <tr>
                    <td>{{RecommendedMovies.title}}</td>
                    <td>{{RecommendedMovies.director}}</td>
                    <td>{{RecommendedMovies.releaseYear}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>