<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
    <div class="card col-sm-12" style="height: 100vh">
        <div class="row gutters  mt-2">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <p class="txt-style">Terms And Service of Quib.... !</p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <p-toggleButton [(ngModel)]="checked2" onLabel="Edit" offLabel="Save"
                    [style]="{'width': '10em'}"></p-toggleButton>
            </div>
        </div>
        <hr>
        <div *ngIf="checked2; else elseBlock">
            <p class="txt-style">
                You means the individual accessing or using the Service, or the company, or other legal entity on
                behalf of which such individual is accessing or using the Service, as applicable.
                Acknowledgment
                These are the Terms and Conditions governing the use of this Service and the agreement that operates
                between You and the Company. These Terms and Conditions set out the rights and obligations of all users
                regarding the use of the Service.
                Your access to and use of the Service is conditioned on Your acceptance of and compliance with these
                Terms and Conditions. These Terms and Conditions apply to all visitors, users and others who access or
                use the Service.
                By accessing or using the Service You agree to be bound by these Terms and Conditions. If You disagree
                with any part of these Terms and Conditions then You may not access the Service.
                You represent that you are over the age of 18. The Company does not permit those under 18 to use the
                Service.
                Your access to and use of the Service is also conditioned on Your acceptance of and compliance with the
                Privacy Policy of the Company. Our Privacy Policy describes Our policies and procedures on the
                collection,
                use and disclosure of Your personal information when You use the Application or the Website and tells
                You
                about Your privacy rights and how the law protects You. Please read Our Privacy Policy carefully before
                using Our Service.

            </p>
        </div>
        <ng-template #elseBlock>
            <textarea id="TOS" name="TOS" rows="20" cols="20">
            You means the individual accessing or using the Service, or the company, or other legal entity on
            behalf of which such individual is accessing or using the Service, as applicable.
            Acknowledgment
            These are the Terms and Conditions governing the use of this Service and the agreement that operates
            between You and the Company. These Terms and Conditions set out the rights and obligations of all users
            regarding the use of the Service.
            Your access to and use of the Service is conditioned on Your acceptance of and compliance with these
            Terms and Conditions. These Terms and Conditions apply to all visitors, users and others who access or
            use the Service.
            By accessing or using the Service You agree to be bound by these Terms and Conditions. If You disagree
            with any part of these Terms and Conditions then You may not access the Service.
            You represent that you are over the age of 18. The Company does not permit those under 18 to use the
            Service.
            Your access to and use of the Service is also conditioned on Your acceptance of and compliance with the
            Privacy Policy of the Company. Our Privacy Policy describes Our policies and procedures on the collection,
            use and disclosure of Your personal information when You use the Application or the Website and tells You
            about Your privacy rights and how the law protects You. Please read Our Privacy Policy carefully before
            using Our Service.   
        </textarea>
        </ng-template>

    </div>
</div>