<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
    <div class="card col-sm-12" style="height: 100vh">
        <div class="row gutters  mt-2">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <p class="txt-style">Terms And Service of Quib.... !</p>
            </div>
        </div>
        <hr>
        <div *ngIf="checked2; else elseBlock">
            <textarea class="txt-style" id="txt-style" [(ngModel)]="tos" readonly rows="12" cols="158">
            </textarea>
        </div>

        <div class="row gutters  mt-2">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                <div class="text-right">
                    <p-toggleButton *ngIf="checked2" [(ngModel)]="checked2" onLabel="Edit"
                        [style]="{'width': '10em'}"></p-toggleButton>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <textarea id="TOS" name="TOS" rows="20" cols="20" [(ngModel)]="tos">
            </textarea>
            <div class="row gutters mt-2">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                    <div class="text-right">
                        <button pButton type="button" id="reset" name="reset" class="p-button-danger mr-4"
                            (click)="cancelForm()">
                            Cancel
                        </button>
                        <button pButton type="button" id="submit" name="submit" class="p-button-success"
                            (click)="submitForm()">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>