<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 tooltipcontainer">
            <div class="row gutters">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 tooltipcontainer"
                    *ngFor="let tooltips of allTooltips">
                    <p-card header="{{tooltips.buttonName}}">
                        <div class="card" style="height: 10vh">
                            <p-inplace [closable]="closable">
                                <ng-template pTemplate="display">
                                    <span>{{tooltips.tooltipText}}</span>
                                </ng-template>
                                <ng-template pTemplate="content">
                                    <input [(ngModel)]="tooltips.tooltipText" pInputText />
                                    <div class="row gutters mt-2">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mt-4">
                                            <div class="text-right">
                                                <button pButton type="button" id="submit" name="submit" class="p-button-success"
                                                    (click)="onSubmit(tooltips.buttonId,tooltips.tooltipText)">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-inplace>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>

