<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
    <div class="tooltipcontainer">
        <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" *ngFor="let tooltips of allTooltips">
                <p-card header="{{tooltips.buttonName}}">
                    <div class="card col-sm-3" style="height: 20vh">
                        <div *ngIf="checked2; else elseBlock">
                            <p class="txt-style" id="txt-style" [innerHTML]="tooltips.tooltipText" style="height: 5vh">
                            </p>
                        </div>
                        <div class="row gutters">
                            <div class="row gutters  mt-2">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                                    <div class="text-right">
                                        <p-toggleButton *ngIf="checked2" [(ngModel)]="checked2" onLabel="Edit"
                                            [style]="{'width': '10em'}"></p-toggleButton>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ng-template #elseBlock>
                            <textarea id="tooltip" name="tooltip" rows="10" cols="10"
                                [(ngModel)]="tooltips.tooltipText">
                        </textarea>
                            <div class="row gutters mt-2">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mt-4">
                                    <div class="text-right">
                                        <button pButton type="button" id="submit" name="submit" class="p-button-success"
                                            (click)="onSubmit(tooltips.buttonId,tooltips.tooltipText)">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>