<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
	<div class="card col-sm-12" style="border:none;">
		<p-table id="customerTable" #QuibUserTable [value]="Quib_User" [columns]="cols" responsiveLayout="scroll"
			dataKey="id" stateStorage="session" stateKey="QuibUser-session"
			[paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,50,100]" [showCurrentPageReport]="true"
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
			[globalFilterFields]="['firstName','lastName','email','displayName']"  styleClass="p-datatable-striped">
			<ng-template pTemplate="caption">
				<div class="row">
					<div class="p-input-icon-right ml-5">
						<i class="pi pi-search"></i>
						<input pInputText type="text" id="Gsearch" [value]="SearchKeyWord.Gsearch" placeholder="Search by columnName"
							(input)="FilterGlobal($event, 'contains')" />
					</div>
					<div class="p-input-icon-right ml-5">
						<button pButton type="button" label="Assign Movie to Moderator" class="p-button-success"
							(click)="[display =true, MoVList = false, AssignToModerator =true, message='Assign Movie to Moderator']"></button>
					</div>
				</div>
			</ng-template>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th>S.no</th>
					<th *ngFor="let col of columns" [pSortableColumn]="col.field">{{col.headers}}
						<p-sortIcon [field]="col.field"></p-sortIcon>
					</th>
					<th>Action</th>
				</tr>
				<tr>
					<th></th>
					<th>
						<input pInputText type="text"  id ="displayName" [value]="SearchKeyWord.displayName" (input)="applyFilterGlobal($event, 'contains')"
							placeholder="Search By displayName" class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" id="firstName" [value]="SearchKeyWord.firstName" (input)="applyFilterGlobal($event, 'contains')"
							placeholder="Search By firstName" class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" id="lastName" [value]="SearchKeyWord.lastName" (input)="applyFilterGlobal($event, 'contains')"
							placeholder="Search By lastName" class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" id="email"  [value]="SearchKeyWord.email" (input)="applyFilterGlobal($event, 'contains')"
							placeholder="Search By email" class="w-full intputSearch">
					</th>
					<th><input pInputText type="text" disabled placeholder="No Search"
							class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search"
							class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search"
							class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search"
							class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search"
							class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search"
							class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search"
							class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search"
							class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search"
							class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search"
							class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search"
							class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search"
							class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search"
							class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search"
							class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search"
							class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search" class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search" class="w-full disableInputSearch"></th>
					<th> <input pInputText type="text" disabled placeholder="No Search" class="w-full disableInputSearch"></th>
					</tr>

			</ng-template>
			<ng-template pTemplate="body" let-i="rowIndex" let-user>
				<tr>
					<td>{{i+1}}</td>
					<td>{{user.displayName}}</td>
					<td>{{user.firstName}}</td>
					<td>{{user.lastName}}</td>
					<td>{{user.email}}</td>
					<td>{{user.createdDate | date:'dd/MM/yyyy'}}</td>
					<td>{{user.bumpCount}}</td>
					<td>{{user.followeeCount}}</td>
					<td>{{user.followerCount}}</td>
					<td>{{user.unPostedQuibsCount}}</td>
					<td>
						<div class="btn-grp">
							<button (click)="changeUserStatus(user?.id,false)" pTooltip="Mark As Pending" pButton
								type="button" class="p-button-success" *ngIf="user.isPending ==true"
								style="height: 30px;">Approved</button>
							<button (click)="changeUserStatus(user?.id,true)" pButton type="button"
								class="p-button-danger" pTooltip="Mark As Approved"
								*ngIf="user.isPending==false||user.isPending==null "
								style="height: 30px">Pending</button>
						</div>
					</td>
					<td>
						<div class="btn-grp">
							<button (click)="markUserAsModerator(user?.id,false)" pTooltip="Mark As Normal User "
								pButton type="button" class="p-button-success" *ngIf="user.isModerator ==true"
								style="height: 30px;">Approved</button>
							<button (click)="markUserAsModerator(user?.id,true)" pButton type="button"
								class="p-button-danger" pTooltip="Mark As Moderator"
								*ngIf="user.isModerator==false||user.isModerator==null "
								style="height: 30px">Pending</button>
						</div>
					</td>
					<td>{{user.curatorScore}}</td>
					<td>null</td>
					<td>null</td>
					<td>
						<a style="color: blue; cursor: pointer;" (click)="[display =true, MoVList = true, AssignToModerator =false, getUserQuibedMoviesList(user?.id),message='Movie List']">MOV</a>
					</td>
					<td>{{user.totalQuibsWritten}}</td>
					<td>{{user.averageOverallRating}}</td>
					<td>{{user.totalBumpReceived}}</td>
					<td>{{user.bumpCount}}</td>
					<td>{{user.totalFlagReceived}}</td>
					<td>{{user.about}}</td>
					<td>
						<div class="btn-grp">
							<button class="p-button-danger" pButton type="button" icon="pi pi-trash"
								pTooltip="Delete user" tooltipPosition="bottom" (click)="deleteUser(user?.id)"></button>
						</div>
					</td>

				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
					<td class="text-center text-danger font-weight-700" colspan="12">
						No Records Found.
					</td>
				</tr>
			</ng-template>
		</p-table>
		<ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
	</div>

	<!--pop model edit user  start from here ------>
	<p-dialog [(visible)]="display" [modal]="true" [header]="message"
		style="height:65vw;width:80vh" position="top" [baseZIndex]="10000">
		<ng-container *ngIf="AssignToModerator">
			<form [formGroup]="quibUserForm">
				<div class="card col-sm-12">
					<div class="row gutters">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="h-100 mt-5">
								<div class="card-body">
									<div class="row gutters">
										<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
											<label for="FirstName"> Movies List </label>
											<p-multiSelect [options]="moviesList" optionLabel="title"
												[(ngModel)]="selectedMovies" display="chip" defaultLabel="Select Movies"
												[ngModelOptions]="{standalone: true}"></p-multiSelect>
										</div>
										<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
											<div class="form-group">
												<label for="FirstName"> Moderator User List </label>
												<select class="form-control" formControlName="user"
													placeholder="Select User" >
													<option *ngFor="let  item of Approved_UserList" [value]="item.id">
														{{item.email}}</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row gutters mt-4">
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
											<div class="text-right">
												<button pButton type="button" id="submit" name="submit"
													class="p-button-danger mr-4" (click)="display = false">Cancel</button>
												<button pButton type="button" id="submit" name="submit"
													class="p-button-success"
													(click)="AssignMovieToModeratorUser()">Submit</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</ng-container>
		<ng-container *ngIf="MoVList && userMovieList.length>0">
			<div *ngFor="let item of userMovieList ">
				<p-card class="m-5">
					<div class="row gutters">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<strong class="heading-section">Movie Name</strong> =><span class="content-data"
								(click)="AdminQuib(item?.movieId)" style="cursor: pointer;">{{item?.movieName}}</span> <br>
							<strong class="heading-section">Total No of Quib</strong> =><span
								class="content-data">{{item?.totalQuibByMovieId}}</span>
							<br>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<strong class="heading-section">Total No of Rated Quib</strong> =><span
								class="content-data">{{item?.ratedQuibByMovieId}}</span>
							<br>
							<strong class="heading-section">AVR Rating</strong> =><span
								class="content-data">{{item?.averageRatingByMovieId}}</span> <br>
						</div>
					</div>
				</p-card>
			</div>
		</ng-container>

		<ng-container *ngIf="MoVList && userMovieList.length==0">
			<h1 class="NoRecord">Sorry No Data Found</h1>
		</ng-container>

	</p-dialog>
	<!--pop model edit user  end from here ------>
	<p-confirmDialog header="Confirmation" [style]="{width: '40vw'}" position="top" [baseZIndex]="10000"
		icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>