th {
    background-color: #353d44 !important;
    color: #fff !important;
  }
  td {
    text-align: left !important;
    font-size: 200 !important;
  }
  .p-datatable {
    padding: none !important;
  }
  .content-header{
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 1.6rem;
    margin-bottom: 0.25rem;
  }
  .text-center {
    margin-left: 60% !important;
  }
  .glyphicon-cog:before {
    content: "\e019";
    padding-right: 10px;
  }
  .export{
      margin-left: 90%;
      margin-bottom: 0.5rem
  }
  .btn-grp{
    display:flex
  }
  :host {
    ::ng-deep {
      .p-dialog .p-dialog-header {
        background-color: #c6c7cd94;
      }
      .p-menuitem-link-active{
        background-color: #990000 !important;
        color: white;
      }
    }
  }


  :host ::ng-deep .p-multiselect {
    min-width: 20rem;
    max-width: 20rem;
    height: auto;
}

:host ::ng-deep .multiselect-custom {
    .p-multiselect-label {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    
}

.intputSearch {
  width:170px
 
}
.disableInputSearch{
  width: 90px;
}

.content-data{
  font-family: initial;
    font-size: 18px;
    color: darkslateblue;
}
.heading-section{
  font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    color: chocolate;
}
