:host {
    display: flex;
    min-height: 100%;
    align-items: center;
    background-image: url('~src/assets/images/Ayurveda.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        background-color: rgba(0,0,0, .2);
        z-index: 0;
        overflow: hidden;
    }
}