<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
  <div class="card col-sm-12" style="border: none">
    <p-table
      id="customerTable"
      #QuibTable
      [value]="quibLIst?.savedQuibs"
      [columns]="cols"
      responsiveLayout="scroll"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [resizableColumns]="true"
      [totalRecords]="totalRecords"
      stateStorage="session"
      stateKey="Quib-session"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [responsive]="true"
      [globalFilterFields]="[
        'displayName',
        'title',
        'body',
        'time',
        'createdDate',
        'postedDate',
        'averageRating',
        'numOfRatings'
      ]"
      styleClass="p-datatable-striped,width:max-content"
    >
      <ng-template pTemplate="caption">
        <div class="row">
          <div class="p-input-icon-right ml-5">
            <h2 style="font-family: 'Times New Roman', Times, serif">Quibs</h2>
          </div>
          <div class="p-input-icon-right ml-5">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              id="search-box"
              placeholder="Search"
              (input)="FilterGlobal($event, 'contains')"
              style="width: 11rem"
            />
          </div>
          <div class="p-input-icon-right ml-5">
            <form [formGroup]="movieAndUserSelectionForm">
              <select
                formControlName="selectedMovie"
                optionLabel="title"
                display="chip"
                defaultLabel="Select Movie"
                (change)="getFilteredUsersOnMovieSelection()"
                (input)="filterMovieTitles($event)"
                style="
                  width: 12rem;
                  height: 2.4rem;
                  border: 1px solid #a6a6a6;
                  border-radius: 3px;
                "
              >
                <option value="" disabled selected>Select Movie</option>
                <option value="null">--unselect movie--</option>
                <option
                  *ngFor="let movie of filteredMovieTitles"
                  [value]="movie.movieId"
                >
                  {{ movie.title }}
                </option>
              </select>
              <a *ngIf="filterDirectionTowardsUser" (click)="onReset()">
                <img
                  src="../../../assets/images/reset-right3.png"
                  alt="Arrow right"
                  style="
                    cursor: pointer;
                    height: 25px;
                    width: 50px;
                    margin-right: 6.5px;
                    margin-left: 10px;
                    margin-bottom: 6.8px;
                  "
                />
              </a>
              <a *ngIf="filterDirectionTowardsMovie" (click)="onReset()">
                <img
                  src="../../../assets/images/reset-left3.png"
                  alt="Arrow right"
                  style="
                    cursor: pointer;
                    height: 24px;
                    width: 50px;
                    margin-right: 6.5px;
                    margin-left: 10px;
                    margin-bottom: 6.8px;
                  "
                />
              </a>
              <a
                *ngIf="
                  !filterDirectionTowardsUser && !filterDirectionTowardsMovie
                "
              >
                <img
                  src="../../../assets/images/block.png"
                  alt=""
                  style="
                    height: 25px;
                    width: 50px;
                    margin-right: 6.5px;
                    margin-left: 10px;
                    margin-bottom: 6.8px;
                  "
                />
              </a>

              <select
                formControlName="selectedUser"
                optionLabel="displayName"
                display="chip"
                defaultLabel="Select User"
                style="
                  margin-left: 3px;
                  width: 12rem;
                  height: 2.4rem;
                  border: 1px solid #a6a6a6;
                  border-radius: 3px;
                "
                (change)="getFilteredMoviesOnUserSelection()"
              >
                <option value="" disabled selected>Select User</option>
                <option value="null">--unselect user--</option>
                <option
                  *ngFor="let user of filteredUserNames"
                  [value]="user.userId"
                >
                  {{ user.displayName }}
                </option>
              </select>
              <button
                pButton
                type="button"
                id="submit"
                name="submit"
                class="p-button-success"
                style="height: 1.89rem; margin-left: 3px; margin-bottom: 4.7px"
                (click)="onSubmit()"
              >
                Submit
              </button>
            </form>
          </div>

          <div class="p-input-icon-right ml-5">
            <form [formGroup]="columnSelectorForm">
              <p-multiSelect
                [options]="colsOptions"
                optionLabel="label"
                [virtualScroll]="true"
                formControlName="selectedColumns"
                display="chip"
                defaultLabel="Select Columns to display"
              ></p-multiSelect>
              <button
                pButton
                type="button"
                id="submit"
                name="submit"
                class="p-button-primary"
                style="margin-left: 8px; margin-bottom: 5.8px; height: 30px"
                (click)="SelectRequestedColumns()"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>S.no</th>
          <th
            *ngFor="let col of filteredCols.length == 0 ? cols : filteredCols"
            [pSortableColumn]="col.field"
          >
            {{ col.headers }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th>Action</th>
        </tr>
        <!-- <tr>
					<th>
						<input pInputText type="text" disabled placeholder="No search" class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" id="displayName" [value]="QuibSearchWord.displayName"
							(input)="applyFilterGlobal($event, 'contains')" placeholder="Search By displayName"
							class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" id="title" [value]="QuibSearchWord.title"
							(input)="applyFilterGlobal($event, 'contains')" placeholder="Search By title"
							class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" id="body" [value]="QuibSearchWord.body"
							(input)="applyFilterGlobal($event, 'contains')" placeholder="Search By Quib"
							class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" id="time" [value]="QuibSearchWord.time"
							(input)="applyFilterGlobal($event, 'contains')" placeholder="Search By Time"
							class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" id="createdDate" [value]="QuibSearchWord.createdDate"
							(input)="applyFilterGlobal($event, 'contains')" placeholder="Search By createdDate"
							class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" id="postedDate" [value]="QuibSearchWord.postedDate"
							(input)="applyFilterGlobal($event, 'contains')" placeholder="Search By postedDate"
							class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" disabled id="displayName"
							(input)="applyFilterGlobal($event, 'contains')" placeholder="Search By displayName"
							class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" disabled id="displayName"
							(input)="applyFilterGlobal($event, 'contains')" placeholder="Search By displayName"
							class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" id="averageRating" [value]="QuibSearchWord.averageRating"
							(input)="applyFilterGlobal($event, 'contains')" placeholder="Search By AVR"
							class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" id="numOfRatings" [value]="QuibSearchWord.numOfRatings"
							(input)="applyFilterGlobal($event, 'contains')" placeholder="Search By rating"
							class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" disabled placeholder="No search" class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" disabled placeholder="No search" class="w-full intputSearch">
					</th>
					<th>
						<input pInputText type="text" disabled placeholder="No search" class="w-full intputSearch">
					</th>
				</tr> -->
      </ng-template>
      <ng-template pTemplate="body" let-i="rowIndex" let-Quib>
        <tr>
          <td>{{ i + 1 }}</td>
          <td *ngIf="shouldDisplayColumn('User')">{{ Quib.displayName }}</td>
          <td *ngIf="shouldDisplayColumn('Movies')">{{ Quib.title }}</td>
          <td *ngIf="shouldDisplayColumn('Quib')">{{ Quib.body }}</td>
          <td *ngIf="shouldDisplayColumn('Time')">
            {{ Quib.HH }}:{{ Quib.MM }}:{{ Quib.SS }}
          </td>
          <td *ngIf="shouldDisplayColumn('Created Date')">
            {{ Quib.createdDate }}
          </td>
          <td *ngIf="shouldDisplayColumn('Posted Date')">
            {{ Quib.postedDate }}
          </td>
          <td *ngIf="shouldDisplayColumn('IsEnabled')">
            <div class="btn-grp">
              <button
                pButton
                type="button"
                class="p-button-success"
                *ngIf="Quib.isEnabled == true"
                style="height: 30px"
              >
                Enabled
              </button>
              <button
                pButton
                type="button"
                class="p-button-danger"
                *ngIf="Quib.isEnabled == false"
                style="height: 30px"
              >
                Disbaled
              </button>
            </div>
          </td>
          <td *ngIf="shouldDisplayColumn('IsBumped')">
            <div class="btn-grp">
              <button
                pButton
                type="button"
                class="p-button-success"
                *ngIf="Quib.isBumped == true"
                style="height: 30px"
              >
                Bumped
              </button>
              <button
                pButton
                type="button"
                class="p-button-danger"
                *ngIf="Quib.isBumped == false"
                style="height: 30px"
              >
                UnBumped
              </button>
            </div>
          </td>
          <td *ngIf="shouldDisplayColumn('AVR')">{{ Quib?.averageRating }}</td>
          <td *ngIf="shouldDisplayColumn('Rating')">
            {{ Quib?.numOfRatings }}
          </td>
          <td
            *ngIf="shouldDisplayColumn('B-IN')"
            (click)="getBumpUserListByQuibId(Quib?.id)"
          >
            <a style="color: blue; cursor: pointer">B-IN</a>
          </td>
          <td
            *ngIf="shouldDisplayColumn('FLAG')"
            (click)="getFlageUserListByQuibId(Quib?.id)"
          >
            <a style="color: blue; cursor: pointer">Flag</a>
          </td>
          <td>
            <div class="btn-grp">
              <button
                class="p-button-danger"
                pButton
                type="button"
                icon="pi pi-trash"
                (click)="deleteQuib(Quib?.id)"
                pTooltip="Delete Quib"
                tooltipPosition="bottom"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-700" colspan="12">
            No Records Found.
          </td>
        </tr>
      </ng-template>
    </p-table>
    <ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
  </div>

  <p-dialog
    [(visible)]="display"
    [modal]="true"
    [header]="headerMessage"
    [style]="styleValue"
    position="top"
    [baseZIndex]="10000"
  >
    <div *ngIf="BIN; else flage">
      <ng-container *ngIf="BumpUserList.length > 0">
        <div class="card col-sm-12" style="height: 70vh">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="h-100 mt-2">
                <div class="card-body">
                  <div class="row gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                        <label for="name">User List</label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                        <label for="image">Current Curator Point </label>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngFor="let item of BumpUserList; let indexvalue = index"
                  >
                    <div class="row gutters">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            value="{{ item.userName }}"
                            readonly
                          />
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                          <div class="row gutters">
                            <div
                              class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"
                            >
                              <button
                                (click)="
                                  BumpIncreamentAndDecreament(
                                    indexvalue,
                                    item.ccp - 1
                                  )
                                "
                                class="p-button-danger"
                                pButton
                                type="button"
                              >
                                <i
                                  class="pi pi-minus-circle"
                                  style="font-size: 1rem"
                                ></i>
                              </button>
                            </div>
                            <div
                              class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8"
                            >
                              <input
                                type="text"
                                class="form-control"
                                value="{{ item.ccp }}"
                                readonly
                              />
                            </div>
                            <div
                              class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"
                            >
                              <button
                                (click)="
                                  BumpIncreamentAndDecreament(
                                    indexvalue,
                                    item.ccp + 1
                                  )
                                "
                                class="p-button-success"
                                pButton
                                type="button"
                              >
                                <i
                                  class="pi pi-plus-circle"
                                  style="font-size: 1rem"
                                ></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row gutters mt-4">
                    <div
                      class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4"
                    >
                      <div class="text-right">
                        <button
                          pButton
                          type="button"
                          id="submit"
                          name="submit"
                          class="p-button-danger mr-4"
                          (click)="display = false"
                        >
                          Cancel
                        </button>
                        <button
                          pButton
                          type="button"
                          id="submit"
                          name="submit"
                          class="p-button-success"
                          (click)="submitBumpUserListdata()"
                        >
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="BumpUserList.length === 0">
        <h1 class="NoRecord">Sorry No Data Found</h1>
      </ng-container>
    </div>
    <ng-template #flage>
      <ng-container *ngIf="FlagUserList.length > 0">
        <div class="card col-sm-12" style="height: 70vh">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="h-100 mt-2">
                <div class="card-body">
                  <div class="row gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                        <label for="name">User List</label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                        <label for="image">Current Flagget Point </label>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngFor="let item of FlagUserList; let indexvalue = index"
                  >
                    <div class="row gutters">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            value="{{ item.userName }}"
                            readonly
                          />
                        </div>
                      </div>

                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                          <div class="row gutters">
                            <div
                              class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"
                            >
                              <button
                                (click)="
                                  FlagIncreamentAndDecreament(
                                    indexvalue,
                                    item.cfp - 1
                                  )
                                "
                                class="p-button-danger"
                                pButton
                                type="button"
                              >
                                <i
                                  class="pi pi-minus-circle"
                                  style="font-size: 1rem"
                                ></i>
                              </button>
                            </div>
                            <div
                              class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8"
                            >
                              <input
                                type="text"
                                class="form-control"
                                value="{{ item.cfp }}"
                                readonly
                              />
                            </div>
                            <div
                              class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"
                            >
                              <button
                                (click)="
                                  FlagIncreamentAndDecreament(
                                    indexvalue,
                                    item.cfp + 1
                                  )
                                "
                                class="p-button-success"
                                pButton
                                type="button"
                              >
                                <i
                                  class="pi pi-plus-circle"
                                  style="font-size: 1rem"
                                ></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row gutters mt-4">
                    <div
                      class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4"
                    >
                      <div class="text-right">
                        <button
                          pButton
                          type="button"
                          id="submit"
                          name="submit"
                          class="p-button-danger mr-4"
                          (click)="display = false"
                        >
                          Cancel
                        </button>
                        <button
                          pButton
                          type="button"
                          id="submit"
                          name="submit"
                          class="p-button-success"
                          (click)="submitFlagUserListdata()"
                        >
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="FlagUserList.length === 0">
        <h1 class="NoRecord">Sorry No Data Found</h1>
      </ng-container>
    </ng-template>
  </p-dialog>

  <p-confirmDialog
    header="Confirmation"
    [style]="{ width: '40vw' }"
    position="top"
    [baseZIndex]="10000"
    icon="pi pi-exclamation-triangle"
  ></p-confirmDialog>
</div>
