<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
  <div class="card col-sm-12" style="border: none">
    <p-table
      id="customerTable"
      #QuibTable
      [value]="quibLIst?.savedQuibs"
      [columns]="cols"
      responsiveLayout="scroll"
      columnResizeMode="expand"
      scrollHeight="70vh"
      [paginator]="true"
      [rows]="100"
      [rowsPerPageOptions]="[20, 50, 100]"
      [showCurrentPageReport]="true"
      [resizableColumns]="true"
      [totalRecords]="totalRecords"
      stateStorage="session"
      stateKey="Quib-session"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [responsive]="true"
      [globalFilterFields]="[
        'displayName',
        'title',
        'body',
        'time',
        'createdDate',
        'postedDate',
        'averageRating',
        'numOfRatings'
      ]"
      styleClass="p-datatable-striped,width:max-content table-max-width"
    >
      <ng-template pTemplate="caption">
        <div class="row">
          <div class="p-input-icon-right ml-5">
            <h2 style="font-family: 'Times New Roman', Times, serif">Quibs</h2>
          </div>
          <div class="p-input-icon-right ml-5">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              id="search-box"
              placeholder="Search"
              (input)="FilterGlobal($event, 'contains')"
              style="width: 11rem"
            />
          </div>
          <div class="p-input-icon-right ml-5">
            <form [formGroup]="movieAndUserSelectionForm">
              <p-dropdown
                [options]="filteredMovieTitles"
                formControlName="selectedMovie"
                optionLabel="title"
                optionValue="movieId"
                filterBy="title"
                [showClear]="true"
                placeholder="Select a Movie"
                [filter]="true"
                (onChange)="getFilteredUsersOnMovieSelection()"
              >
              </p-dropdown>
              <a *ngIf="filterDirectionTowardsUser" (click)="onReset()">
                <img
                  src="../../../assets/images/reset-right3.png"
                  alt="Arrow right"
                  style="
                    cursor: pointer;
                    height: 25px;
                    width: 50px;
                    margin-right: 6.5px;
                    margin-left: 10px;
                    margin-bottom: 6.8px;
                  "
                />
              </a>
              <a *ngIf="filterDirectionTowardsMovie" (click)="onReset()">
                <img
                  src="../../../assets/images/reset-left3.png"
                  alt="Arrow right"
                  style="
                    cursor: pointer;
                    height: 24px;
                    width: 50px;
                    margin-right: 6.5px;
                    margin-left: 10px;
                    margin-bottom: 6.8px;
                  "
                />
              </a>
              <a
                *ngIf="
                  !filterDirectionTowardsUser && !filterDirectionTowardsMovie
                "
              >
                <img
                  src="../../../assets/images/block.png"
                  alt=""
                  style="
                    height: 25px;
                    width: 50px;
                    margin-right: 6.5px;
                    margin-left: 10px;
                    margin-bottom: 6.8px;
                  "
                />
              </a>

              <p-dropdown
                [options]="filteredUserNames"
                formControlName="selectedUser"
                optionLabel="displayName"
                optionValue="userId"
                filterBy="displayName"
                [showClear]="true"
                placeholder="Select a User"
                [filter]="true"
                style="margin-left: 3px"
                (onChange)="getFilteredMoviesOnUserSelection()"
              >
              </p-dropdown>
              <button
                pButton
                type="button"
                id="submit"
                name="submit"
                class="p-button-success"
                style="height: 1.89rem; margin-left: 3px; margin-bottom: 4.7px"
                (click)="onSubmit()"
              >
                Submit
              </button>
            </form>
          </div>
          <div class="p-input-icon-right ml-5">
            <form [formGroup]="columnSelectorForm">
              <p-multiSelect
                [options]="colsOptions"
                optionLabel="label"
                [virtualScroll]="true"
                formControlName="selectedColumns"
                display="chip"
                defaultLabel="Select Columns to display"
              ></p-multiSelect>
              <button
                pButton
                type="button"
                id="submit"
                name="submit"
                class="p-button-primary"
                style="margin-left: 8px; margin-bottom: 5.8px; height: 30px"
                (click)="SelectRequestedColumns()"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pResizableColumn>S.no</th>
          <th
            *ngFor="let col of filteredCols.length == 0 ? cols : filteredCols"
            [pSortableColumn]="col.field"
            pResizableColumn
            class="max-width-cell"
          >
            {{ col.headers }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-i="rowIndex" let-Quib>
        <tr>
          <td>{{ i + 1 }}</td>
          <td *ngIf="shouldDisplayColumn('User')">{{ Quib.displayName }}</td>
          <td *ngIf="shouldDisplayColumn('Movie')">{{ Quib.title }}</td>
          <td
            *ngIf="shouldDisplayColumn('Quib')"
            class="max-width-cell"
            (click)="EditQuib(Quib)"
            style="cursor: pointer"
          >
            {{ Quib.body }}
          </td>
          <td
            *ngIf="shouldDisplayColumn('Time')"
            (click)="EditQuib(Quib)"
            style="cursor: pointer"
          >
            {{ getTime(Quib.time) }}
          </td>
          <td *ngIf="shouldDisplayColumn('Created')">
            {{ Quib.createdDate }}
          </td>
          <td *ngIf="shouldDisplayColumn('Posted')">
            {{ Quib.postedDate }}
          </td>
          <td *ngIf="shouldDisplayColumn('IsEnabled')">
            <div class="btn-grp">
              <button
                pButton
                type="button"
                class="p-button-success"
                *ngIf="Quib.isEnabled == true"
                style="height: 30px"
              >
                Enabled
              </button>
              <button
                pButton
                type="button"
                class="p-button-danger"
                *ngIf="Quib.isEnabled == false"
                style="height: 30px"
              >
                Disbaled
              </button>
            </div>
          </td>
          <!-- <td *ngIf="shouldDisplayColumn('IsBumped')">
            <div class="btn-grp">
              <button
                pButton
                type="button"
                class="p-button-danger"
                *ngIf="Quib.isBumped == null"
                style="height: 30px"
              >
                UnBumped
              </button>
              <button
                pButton
                type="button"
                class="p-button-success"
                *ngIf="Quib.isBumped == true"
                style="height: 30px"
              >
                Bumped
              </button>
              <button
                pButton
                type="button"
                class="p-button-danger"
                *ngIf="Quib.isBumped == false"
                style="height: 30px"
              >
                UnBumped
              </button>
            </div>
          </td> -->
          <td *ngIf="shouldDisplayColumn('AVR')">
            {{ fixTo4Decimals(Quib?.averageRating) }}
          </td>
          <td
            *ngIf="shouldDisplayColumn('#RT') && Quib?.numOfRatings > 0"
            (click)="getRatingsOfQuibById(Quib?.id)"
          >
            <a style="color: blue; cursor: pointer">{{ Quib?.numOfRatings }}</a>
          </td>
          <td *ngIf="shouldDisplayColumn('#RT') && Quib?.numOfRatings == 0">
            {{ Quib?.numOfRatings }}
          </td>
          <td
            *ngIf="shouldDisplayColumn('B-IN') && Quib?.bIn > 0"
            (click)="getBumpUserListByQuibId(Quib?.id)"
          >
            <a style="color: blue; cursor: pointer">{{ Quib?.bIn }}</a>
          </td>
          <td *ngIf="shouldDisplayColumn('B-IN') && Quib?.bIn == 0">
            {{ Quib?.bIn }}
          </td>
          <td
            *ngIf="shouldDisplayColumn('FLAG') && Quib?.bIn > 0"
            (click)="getFlageUserListByQuibId(Quib?.id)"
          >
            <a style="color: blue; cursor: pointer">{{ Quib?.bIn }}</a>
          </td>
          <td *ngIf="shouldDisplayColumn('FLAG') && Quib?.bIn == 0">
            {{ Quib?.bIn }}
          </td>
          <td>
            <div class="btn-grp">
              <button
                *ngIf="!Quib.isDeleted"
                class="p-button-success"
                pButton
                type="button"
                (click)="deleteQuib(Quib?.id)"
                pTooltip="Delete Quib"
                tooltipPosition="bottom"
              >
                Delete
              </button>
              <button
                *ngIf="Quib.isDeleted"
                class="p-button-danger"
                pButton
                type="button"
                (click)="restoreQuib(Quib?.id)"
                pTooltip="Restore Quib"
                tooltipPosition="bottom"
              >
                Restore
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-700" colspan="12">
            No Records Found.
          </td>
        </tr>
      </ng-template>
    </p-table>
    <ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
  </div>

  <p-dialog
    [(visible)]="display"
    [modal]="true"
    [header]="headerMessage"
    [style]="styleValue"
    position="top"
    [baseZIndex]="10000"
  >
    <div *ngIf="BIN; else flage">
      <ng-container>
        <div class="card col-sm-12" style="height: 70vh">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="h-100 mt-2">
                <div class="card-body">
                  <div class="row gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                        <label for="name">User List</label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                        <label for="image">Current Curator Point </label>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngFor="let item of BumpUserList; let indexvalue = index"
                  >
                    <div class="row gutters">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            value="{{ item.userName }}"
                            readonly
                            style="height: calc(0.9em + 0.75rem + 2px)"
                          />
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                          <div class="row gutters">
                            <div
                              class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"
                            >
                              <button
                                (click)="
                                  BumpIncreamentAndDecreament(
                                    indexvalue,
                                    item.ccp - 1
                                  )
                                "
                                class="p-button-danger"
                                pButton
                                type="button"
                                [disabled]="item.id === null"
                              >
                                <i
                                  class="pi pi-minus-circle"
                                  style="font-size: 1rem"
                                ></i>
                              </button>
                            </div>
                            <div
                              class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8"
                            >
                              <input
                                type="text"
                                class="form-control"
                                value="{{ item.ccp }}"
                                style="
                                  margin-left: 15px;
                                  height: calc(0.9em + 0.75rem + 2px);
                                "
                                readonly
                              />
                            </div>
                            <div
                              class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"
                            >
                              <button
                                (click)="
                                  BumpIncreamentAndDecreament(
                                    indexvalue,
                                    item.ccp + 1
                                  )
                                "
                                class="p-button-success"
                                pButton
                                type="button"
                                [disabled]="item.id === null"
                              >
                                <i
                                  class="pi pi-plus-circle"
                                  style="font-size: 1rem"
                                ></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row gutters mt-4">
                    <div
                      class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4"
                    >
                      <div class="text-right">
                        <button
                          pButton
                          type="button"
                          id="submit"
                          name="submit"
                          class="p-button-danger mr-4"
                          (click)="display = false"
                        >
                          Cancel
                        </button>
                        <button
                          pButton
                          type="button"
                          id="submit"
                          name="submit"
                          class="p-button-success"
                          (click)="submitBumpUserListdata()"
                        >
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- <ng-container *ngIf="BumpUserList.length === 0">
        <h1 class="NoRecord">Sorry No Data Found</h1>
      </ng-container> -->
    </div>
    <ng-template #flage>
      <ng-container>
        <div class="card col-sm-12" style="height: 70vh">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="h-100 mt-2">
                <div class="card-body">
                  <div class="row gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                        <label for="name">User List</label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                        <label for="image">Current Flagger Point </label>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngFor="let item of FlagUserList; let indexvalue = index"
                  >
                    <div class="row gutters">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            value="{{ item.userName }}"
                            readonly
                            style="height: calc(0.9em + 0.75rem + 2px)"
                          />
                        </div>
                      </div>

                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                          <div class="row gutters">
                            <div
                              class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"
                            >
                              <button
                                (click)="
                                  FlagIncreamentAndDecreament(
                                    indexvalue,
                                    item.cfp - 1
                                  )
                                "
                                class="p-button-danger"
                                pButton
                                type="button"
                                [disabled]="item.id == null"
                              >
                                <i
                                  class="pi pi-minus-circle"
                                  style="font-size: 1rem"
                                ></i>
                              </button>
                            </div>
                            <div
                              class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8"
                            >
                              <input
                                type="text"
                                class="form-control"
                                value="{{ item.cfp }}"
                                readonly
                                style="
                                  margin-left: 15px;
                                  height: calc(0.9em + 0.75rem + 2px);
                                "
                              />
                            </div>
                            <div
                              class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"
                            >
                              <button
                                (click)="
                                  FlagIncreamentAndDecreament(
                                    indexvalue,
                                    item.cfp + 1
                                  )
                                "
                                class="p-button-success"
                                pButton
                                type="button"
                                [disabled]="item.id == null"
                              >
                                <i
                                  class="pi pi-plus-circle"
                                  style="font-size: 1rem"
                                ></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row gutters mt-4">
                    <div
                      class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4"
                    >
                      <div class="text-right">
                        <button
                          pButton
                          type="button"
                          id="submit"
                          name="submit"
                          class="p-button-danger mr-4"
                          (click)="display = false"
                        >
                          Cancel
                        </button>
                        <button
                          pButton
                          type="button"
                          id="submit"
                          name="submit"
                          class="p-button-success"
                          (click)="submitFlagUserListdata()"
                        >
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- <ng-container *ngIf="FlagUserList.length === 0">
        <h1 class="NoRecord">Sorry No Data Found</h1>
      </ng-container> -->
    </ng-template>
  </p-dialog>

  <p-confirmDialog
    header="Confirmation"
    [style]="{ width: '40vw' }"
    position="top"
    [baseZIndex]="10000"
    icon="pi pi-exclamation-triangle"
  ></p-confirmDialog>
</div>
<p-dialog
  [header]="editDialogueHeaderMessage"
  [(visible)]="displayEditDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '36vw', height: '57vh' }"
  [responsive]="true"
>
  <ng-container *ngIf="editTextPopup">
    <div class="timer-adjuster">
      <label for="editTimer" style="margin-right: 8px">Edit timer: </label>
      <button class="minus" (click)="editTimer(false)">-</button>
      <input
        type="text"
        [(ngModel)]="editedTimer"
        class="timer-input"
        (ngModelChange)="onTextChange($event)"
      />

      <button class="plus" (click)="editTimer(true)">+</button>
    </div>
    <div>
      <label for="editTextArea">Edit text:</label>
      <textarea
        id="editTextArea"
        [(ngModel)]="editedText"
        (ngModelChange)="onTextChange($event)"
      ></textarea>
    </div>
    <div class="dialog-buttons">
      <button
        pButton
        type="button"
        label="Submit"
        [disabled]="!isTextChanged"
        (click)="submitEdit(editedText)"
      ></button>
      <button
        pButton
        type="button"
        label="Cancel"
        (click)="closeEditDialog()"
        class="custom-cancel-button"
      ></button>
    </div>
  </ng-container>
</p-dialog>
<p-dialog
  [(visible)]="displayRatingPopup"
  [modal]="true"
  [header]="headerMessage"
  [style]="styleValue"
  position="top"
  [baseZIndex]="10000"
>
  <div *ngIf="ratingPopup">
    <ng-container>
      <div class="card col-sm-12" style="height: 60vh">
        <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="h-100 mt-2">
              <div class="card-body">
                <div class="row gutters">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label for="name">User List</label>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label for="image" style="margin-left: 61px"
                        >Ratings</label
                      >
                    </div>
                  </div>
                </div>
                <div
                  *ngFor="let item of userRatingList; let indexvalue = index"
                >
                  <div class="row gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          value="{{ item.userName }}"
                          readonly
                          style="
                            height: calc(0.9em + 0.75rem + 2px);
                            margin-left: -3px;
                          "
                        />
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                        <div class="row gutters">
                          <div
                            class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"
                          >
                            <!-- <button
                                (click)="
                                  BumpIncreamentAndDecreament(
                                    indexvalue,
                                    item.ccp - 1
                                  )
                                "
                                class="p-button-danger"
                                pButton
                                type="button"
                                [disabled]="item.id === null"
                              >
                                <i
                                  class="pi pi-minus-circle"
                                  style="font-size: 1rem"
                                ></i>
                              </button> -->
                          </div>
                          <div
                            class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8"
                          >
                            <input
                              type="text"
                              class="form-control"
                              value="{{ item.rating }}"
                              style="
                                margin-left: 15px;
                                height: calc(0.9em + 0.75rem + 2px);
                              "
                              readonly
                            />
                          </div>
                          <div
                            class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"
                          >
                            <!-- <button
                                (click)="
                                  BumpIncreamentAndDecreament(
                                    indexvalue,
                                    item.ccp + 1
                                  )
                                "
                                class="p-button-success"
                                pButton
                                type="button"
                                [disabled]="item.id === null"
                              >
                                <i
                                  class="pi pi-plus-circle"
                                  style="font-size: 1rem"
                                ></i>
                              </button> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="row gutters mt-4">
                    <div
                      class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4"
                    >
                      <div class="text-right">
                        <button
                          pButton
                          type="button"
                          id="submit"
                          name="submit"
                          class="p-button-danger mr-4"
                          (click)="display = false"
                        >
                          Cancel
                        </button>
                        <button
                          pButton
                          type="button"
                          id="submit"
                          name="submit"
                          class="p-button-success"
                          (click)="submitBumpUserListdata()"
                        >
                          Submit
                        </button>
                      </div>
                    </div>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- <ng-container *ngIf="BumpUserList.length === 0">
        <h1 class="NoRecord">Sorry No Data Found</h1>
      </ng-container> -->
  </div>
</p-dialog>
