<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
	<div class="card col-sm-12" style="border:none;">
		<p-table id="customerTable" #dt [value]="quibLIst" [columns]="cols" responsiveLayout="scroll" [paginator]="true"
			[rows]="10" [showCurrentPageReport]="true" [resizableColumns]="true"
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
			[globalFilterFields]="['user', 'movies']" styleClass="p-datatable-striped,width:max-content">
			<ng-template pTemplate="caption">
				<div class="row">
					<div class="p-input-icon-right ml-5">
						<i class="pi pi-search"></i>
						<input pInputText type="text" id="search-box" placeholder="Search by User or Movies"
							(input)="applyFilterGlobal($event, 'contains')" />
					</div>
				</div>
			</ng-template>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th>S.no</th>
					<th *ngFor="let col of columns" [pSortableColumn]="col.field">{{col.headers}} 
						<p-sortIcon [field]="col.field"></p-sortIcon></th>
					<th>Action</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-i="rowIndex" let-Quib>
				<tr>
					<td>{{i+1}}</td>
					<td>{{Quib.displayName}}</td>
					<td>{{Quib.title}}</td>
					<td>{{Quib.body}}</td>
					<td>{{Quib.time}}</td>
					<td>{{Quib.createdDate}}</td>
					<td>{{Quib.postedDate}}</td>
					<td>
						<div class="btn-grp">
							<button (click)="IsEnabled(Quib?.id,false)" pTooltip="mark as Decline" pButton type="button"
								class="p-button-success" *ngIf="Quib.isEnabled ==true"
								style="height: 30px;">{{Quib.isEnabled}}</button>
							<button (click)="IsEnabled(Quib?.id,true)" pButton type="button" class="p-button-danger"
								pTooltip="mark as Approved" *ngIf="Quib.isEnabled == false"
								style="height: 30px">{{Quib.isEnabled}}</button>
						</div>
					</td>
					<td>
						<div class="btn-grp">
							<button (click)="IsBumped(Quib?.id,false)" pTooltip="mark as Decline" pButton type="button"
								class="p-button-success" *ngIf="Quib.isBumped ==true"
								style="height: 30px;">{{Quib.isBumped}}</button>
							<button (click)="IsBumped(Quib?.id,true)" pButton type="button" class="p-button-danger"
								pTooltip="mark as Saved" *ngIf="Quib.isBumped ==false"
								style="height: 30px">{{Quib.isBumped}}</button>
						</div>
					</td>
					<td>{{Quib.avr}}</td>
					<td>{{Quib.rating}}</td>
					<td (click)="[display = true,BIN=true,]"><a style="color: blue; cursor: pointer;">B-IN</a></td>
					<td (click)="[display = true,BIN =false]"><a style="color: blue; cursor: pointer;">Flage</a></td>
					<td>
						<div class="btn-grp">
							<button class="p-button-danger" pButton type="button" icon="pi pi-trash"
							(click)="deleteQuib(Quib?.id)" pTooltip="Delete Quib" tooltipPosition="bottom"></button>
						</div>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
					<td class="text-center text-danger font-weight-700" colspan="12">
						No Records Found.
					</td>
				</tr>
			</ng-template>
		</p-table>
		<ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
	</div>
	
	<p-dialog [(visible)]="display" [modal]="true" header="Recent Quib" [style]="{width: '70vw',height:'90vh'}"
		position="top" [baseZIndex]="10000">
		<div *ngIf="BIN; else flage">
			<div class="card col-sm-12" style="height: 70vh;">
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="h-100 mt-5">
							<div class="card-body">
								<div class="row gutters">
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
										<div class="form-group">
											<label for="name">User List</label>
											<input type="text" class="form-control" value="sohan" readonly>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
										<div class="form-group">
											<label for="image">Current Curator Point </label>
											<div class="row gutters">
												<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
													<button (click)="Decrement()" class="p-button-secondary" pButton
														type="button">
														<i class="pi pi-minus-circle" style="font-size: 1rem"></i>
													</button>
												</div>
												<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
													<input type="text" class="form-control" [value]="CCP" readonly>
												</div>
												<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
													<button (click)="Increament()" class="p-button-success" pButton
														type="button">
														<i class="pi pi-plus-circle" style="font-size: 1rem"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row gutters mt-4">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
										<div class="text-right">
											<button pButton type="button" id="submit" name="submit"
												class="p-button-danger mr-4" (click)="display = false">Cancel</button>
											<button pButton type="button" id="submit" name="submit"
												class="p-button-success">Submit</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ng-template #flage>
			<div class="card col-sm-12" style="height: 70vh;">
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="h-100 mt-5">
							<div class="card-body">
								<div class="row gutters">
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
										<div class="form-group">
											<label for="name">User List</label>
											<input type="text" class="form-control" value="sohan" readonly>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
										<div class="form-group">
											<label for="image"> Current Flagger Point </label>
											<div class="row gutters">
												<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
													<button (click)="Decrement()" class="p-button-secondary" pButton
														type="button">
														<i class="pi pi-minus-circle" style="font-size: 1rem"></i>
													</button>
												</div>
												<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
													<input type="text" class="form-control" [value]="CCP" readonly>
												</div>
												<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
													<button (click)="Increament()" class="p-button-success" pButton
														type="button">
														<i class="pi pi-plus-circle" style="font-size: 1rem"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row gutters mt-4">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
										<div class="text-right">
											<button pButton type="button" id="submit" name="submit"
												class="p-button-danger mr-4" (click)="display = false">Cancel</button>
											<button pButton type="button" id="submit" name="submit"
												class="p-button-success">Submit</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</ng-template>
	</p-dialog>
	
	<p-confirmDialog header="Confirmation" [style]="{width: '40vw'}" position="top" [baseZIndex]="10000"
		icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>