<body>
  <div id="top-bar">
    <h1>{{ getTitle() }}</h1>
  </div>

  <div id="navbar">
    <a
      style="cursor: pointer"
      (click)="
        [
          (display = true),
          (AddScreenshot = true),
          (timeRangeSelector = false),
          (message = 'Upload ScreenShot')
        ]
      "
      >Upload</a
    >
    <a (click)="getAdminScreenshots()" style="cursor: pointer"
      >Show all({{ allCount }})</a
    >
    <a (click)="getSelectedScreenshots()" style="cursor: pointer"
      >Show Selected({{ selectedCount }})</a
    >
    <a (click)="getUnSelectedScreenshots()" style="cursor: pointer"
      >Show Unselected({{ unselectedCount }})</a
    >
    <a
      style="cursor: pointer"
      *ngIf="!timeRangeSelected"
      (click)="
        [
          (display = true),
          (timeRangeSelector = true),
          (AddScreenshot = false),
          (message = 'Select Time Range')
        ]
      "
      >Select Time Range</a
    >
    <a
      style="cursor: pointer"
      *ngIf="timeRangeSelected"
      (click)="
        [
          (display = true),
          (timeRangeSelector = true),
          (AddScreenshot = false),
          (message = 'Select Time Range')
        ]
      "
      >Select Time Range({{ timeRangeSelectedcount }})</a
    >
  </div>

  <div class="main-container">
    <div class="main-container-inner">
      <div class="screenshots-container">
        <div class="main-div" *ngFor="let screenshot of allScreenshots">
          <div class="sub-div-1">
            <div class="center-text">
              <div class="timer-div" [ngClass]="shouldApplyClass(screenshot.isSelected)">{{ getTime(screenshot.time) }}</div>
            </div>
            <div class="right-text">
              <mat-slide-toggle
                [color]="color"
                [checked]="screenshot.isSelected"
                [disabled]="disabled"
                (change)="triggerUpdateIsSelected(screenshot.id, screenshot.isSelected)"
              >
              </mat-slide-toggle>
            </div>
          </div>

          <div
            class="image-div"
            (click)="
              triggerUpdateIsSelected(screenshot.id, screenshot.isSelected)
            "
          >
            <img [src]="getFullImageUrl(screenshot.body)" class="image-style" />
            <div class="overlay-text" *ngIf="screenshot.isSelected">
              <i class="pi pi-times select-unselect-icon"></i>
              Unselect
            </div>
            <div class="overlay-text" *ngIf="!screenshot.isSelected">
              <i class="pi pi-check-circle select-unselect-icon"></i>
              Select
            </div>
          </div>
        </div>
      </div>
    </div>
        <ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
  </div>
  <footer></footer>
</body>
<p-dialog
  [(visible)]="display"
  [modal]="true"
  [header]="message"
  [style]="{ width: '60vw', height: '77vh' }"
  position="top"
  [baseZIndex]="10000"
>
  <ng-container *ngIf="timeRangeSelector">
    <form [formGroup]="timeRangeSelectionForm">
      <div class="card col-sm-12" style="height: 58vh">
        <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="h-100 mt-5">
              <div class="card-body">
                <div class="row gutters">
                  <div
                    class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                    style="margin-right: 350px"
                  >
                    <h5>From:</h5>
                    <div class="row gutters">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="form-group">
                          <label for="Name">HH</label>
                          <input
                            type="number"
                            class="form-control"
                            placeholder="Hours"
                            formControlName="fromHours"
                            style="width: 7vw"
                          />
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="form-group">
                          <label for="Name">MM</label>
                          <input
                            type="number"
                            class="form-control"
                            placeholder="Minutes"
                            formControlName="fromMinutes"
                            style="width: 7vw"
                          />
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="form-group">
                          <label for="Name">SS</label>
                          <input
                            type="number"
                            class="form-control"
                            placeholder="Seconds"
                            formControlName="fromSeconds"
                            style="width: 7vw"
                          />
                        </div>
                      </div>
                    </div>
                    <h5>To:</h5>
                    <div class="row gutters">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="form-group">
                          <label for="Name">HH</label>
                          <input
                            type="number"
                            class="form-control"
                            placeholder="Hours"
                            formControlName="toHours"
                            style="width: 7vw; margin-right: 15px"
                          />
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="form-group">
                          <label for="Name">MM</label>
                          <input
                            type="number"
                            class="form-control"
                            placeholder="Minutes"
                            formControlName="toMinutes"
                            style="width: 7vw; margin-right: 15px"
                          />
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="form-group">
                          <label for="Name">SS</label>
                          <input
                            type="number"
                            class="form-control"
                            placeholder="Seconds"
                            formControlName="toSeconds"
                            style="width: 7vw"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row gutters mt-4">
                  <div
                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4"
                  >
                    <div class="text-right">
                      <button
                        pButton
                        type="button"
                        id="submit"
                        name="submit"
                        class="p-button-danger mr-4"
                        (click)="display = false"
                      >
                        Cancel
                      </button>
                      <button
                        pButton
                        type="button"
                        id="submit"
                        name="submit"
                        class="p-button-success"
                        (click)="fetchScreenshotsbyTime()"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="AddScreenshot">
    <form [formGroup]="AddScreenshotForm">
      <div class="card col-sm-12" style="height: 55vh">
        <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="h-100 mt-5">
              <div class="card-body">
                <div class="row gutters">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h5>Rules:</h5>
                    <p style="color: red;">
                      Max file size allowed is 500 KB<br />
                      A filename must be in a format of MovieName_hh_mm_ss.ext<br />
                      Timestamp (hh_mm_ss) must be lesser than or equal to the total movie length
                    </p>
                  </div>
                </div>
                <div class="row gutters">
                    <div
                        class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                        >
                        <div class="form-group">
                          <h5>Screenshot:</h5>
                          <input
                            type="file"
                            formControlName="posterContentThumb"
                            class="form-control"
                            (change)="OnchangeScreenShot($event)"
                            style="width: 15vw"
                            multiple
                          />
                        </div>
                      </div>
                      <div
                        class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
                      >
                        <div class="form-group">
                          <!-- <img
                            *ngIf="screenShotImage != undefined"
                            [src]="screenShotImage"
                            class="form-control"
                            style="width: 80%; height: 10vh; margin-left: 5px"
                          /> -->
                          <div *ngFor="let image of imagelist">
                            {{image.name}}
                          </div>
                        </div>
                      </div>
                    </div>

                <!-- <h5>Time:</h5>
                <div class="row gutters">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="form-group">
                      <label for="Name">HH</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Hours"
                        formControlName="hours"
                        style="width: 7vw"
                      />
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="form-group">
                      <label for="Name">MM</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Minutes"
                        formControlName="minutes"
                        style="width: 7vw"
                      />
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="form-group">
                      <label for="Name">SS</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Seconds"
                        formControlName="seconds"
                        style="width: 7vw"
                      />
                    </div>
                  </div>
                </div> -->

                <div class="row gutters mt-4">
                  <div
                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4"
                  >
                    <div class="text-right">
                      <button
                        pButton
                        type="button"
                        id="submit"
                        name="submit"
                        class="p-button-danger mr-4"
                        (click)="display = false"
                      >
                        Cancel
                      </button>
                      <button
                        pButton
                        type="button"
                        id="submit"
                        name="submit"
                        class="p-button-success"
                        (click)="SubmitScreenshots()"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</p-dialog>
