@import "../src/assets/css/bootstrap.min.css";
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0
}

.bcard {
    padding: 20px;
    background-color: #f3f3f3;
    min-height: 100vh;
}

.body {
    transition: 300ms ease-out;
    margin: 55px 0 0 0px;
}
.body.expanded {
    margin: 55px 0 0 0px;
}
.body.contracted {
    margin: 55px 0 0 0px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px #707070;
    min-height: 4rem;
    // background-color: #151D3B;
    background-color: #a8a8a8;
}

// flex
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-grid-container-content {
    display: flex;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
    align-items: center;
}

.flex {
    flex: 1;
}

.grid-row-data-item{
    flex:1;
}
th {
    background-color: #285d91 !important;
    color: #fff !important;
  }
  td {
    text-align: center !important;
    font-size: 200 !important;
  }


//Material UI Styles Override

mat-icon {
    color: #fff;
}

mat-accordion .mat-expansion-panel:last-of-type {
    margin-top: 15px;
}
//Media Queries

@media screen and (min-width: 992px) {
    .header {
        z-index: 3;
    }
    .header .hamburger {
        margin: 1.5rem 0 0 1rem;
    }
    .header .logo {
        width: 145px;
        margin: 1rem 0 1rem 1rem;
    }
    .sidebar-cont {
        top: 72px;
    }
    .sidebar-cont .sidebar {
        margin: 2rem 0;
    }
    .breadcrumb-cont {
        display: block;
    }
    .sect-head {
        font-size: 1.8rem;
    }
    .menu-list .menu-item .menu-link:hover {
        cursor: pointer;
    }
    .body {
        margin: 72px 0 0 0px;
    }
    .body.expanded {
        margin: 72px 0 0 0px;
    }
    .body.contracted {
        margin: 4rem 0 0 15rem;
    }
    .body .title .main-title {
        font-size: 3rem;
        text-align: left;
    }
}
.page-heading {

    h1 {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1.2px;
        word-spacing: 0.1rem;
    }
}
.basic-info-header {
    display: flex;
    margin: 2rem 0;

    mat-label {
        font-size: 0.9rem;
        color: #707070;
        font-weight: 700;
        line-height: 2rem;
        letter-spacing: 1px;
    }

    .detail-heading {
        
        span {
            padding: 0 1rem;
            font-size: 1.25rem;
            font-weight: 700;
            letter-spacing: 1.2px;
            word-spacing: 0.1rem;
            font-size: 1.1rem;
        }
    }

    .basic-info-profile {
        width: 20%;
        
        img {
            position: relative;
            width: 100%;

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0, 0.2)
            }
        }

        button {
            background-color: #707070;
            width: 100%;
            color: #fff;
            margin-top: 1rem;
            letter-spacing: 2px;
            padding: 0.25rem;
            box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);

            mat-icon {
                margin-right: 0.3rem;
            }

            &:hover {
                background-color: #f1f1f1;
                color: #707070;

                .mat-icon {
                    color: #707070;
                }
            }
        }
    }

    .basic-info-content {
        width: 100%;
        background-color: #ECECEC;
        margin-left: 1rem;
        padding: 0.5rem;

        .edit-section {
            text-align: right;
            padding-left: 0.5rem;

            button {
                color: #ffffff;
                background: #707070;
                letter-spacing: 1.5px;
                padding: 0 0.5rem;
                margin: 0 0.5rem;

                mat-icon {
                    margin-right: 0.25rem;
                }

                &:hover {
                    background-color: #f1f1f1;
                    color: #707070;

                    mat-icon {
                        background-color: #f1f1f1;
                        color: #707070;
                    }
                }
            }
        }

        .sub-header-row {
            margin-bottom: 1.25rem;
        }

        .detail-row {
            padding: 0 1rem;
        }
    }
}
.edit-custom {
    font-size: 1.3rem;
    width: 100%;
    height: auto;
}
.p-button.p-button-icon-only {
    height: 25px !important;
}
#search-box{
    width: 280px
}

.intputSearch {
    width:160px
  }
  .disableInputSearch{
    width: 90px;
  }

  .NoRecord {
    text-align: center;
    margin-top: 45px;
    color: red;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
  }
  