<div *ngIf="device === 'desktop'" class="sidebar-cont" [@toggleSidebar]="state">
    <div class="sidebar">
      <ul class="menu-list">
            <li class="menu-list"><p-panelMenu [model]="items" [multiple]="false"></p-panelMenu></li>
        </ul>
    </div>
</div>
<div *ngIf="device === 'mobile'" class="sidebar-cont" [@mToggleSidebar]="state">
    <div class="sidebar">
        <ul class="menu-list">
            <li class="menu-item">
                <mat-icon>account_box</mat-icon>
                <a href="javascript:void(0)" class="menu-link profile">Profile</a>
            </li>
            <li class="menu-item">
                <mat-icon>dashboard</mat-icon>
                <a href="javascript:void(0)" class="menu-link dashboard">Dashboard</a>
            </li>
            <li class="menu-item">
                <mat-icon>settings</mat-icon>
                <a href="javascript:void(0)" class="menu-link listings">Settings</a>
            </li>
        </ul>
    </div>
</div>