:host {
  ::ng-deep {
    mat-divider {
      width: 85%;
      margin: auto;
      border-top-width: 0.13rem !important;
      border-top-color: rgba(255, 255, 255, 0.4) !important;
    }

    .p-panelmenu .p-panelmenu-header>a {
      padding: 0.857rem 1rem;
      border: none;
      color: #f4f4f4;
      background: none;
      font-weight: 400;
      transition: background-color 0.2s, box-shadow 0.2s;
    }

    p-panelmenu .p-panelmenu-content .p-submenu-list:not(.p-panelmenu-root-submenu) {
     background-color: #a8a8a8 !important;
      border: none !important;
      font-weight: 400;
    }

    .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
     border: none !important;
      padding-left:  35px;
      color: #f4f4f4 !important;
      font-weight: 350;
    }

    .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
      color: #f4f4f4 !important;
      background-color: #a8a8a8 !important;
      
    }

    .p-panelmenu .p-panelmenu-content {
      border: none;
      padding-left:  25px;
      color: #f4f4f4 !important;
      background-color:#a8a8a8;
      
    }

    p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-icon {
      color: #f4f4f4;
      background-color: #a8a8a8 !important;
    }

    .pi-fw {
      color: #f4f4f4;
      padding-left:  5px
    }
  }
}

.sidebar-cont {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 50px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  background: #fff;
  padding: 0;
  box-shadow: 3px 15px 10px #707070;
  transition: 300ms ease-in-out;
  background-color: #a8a8a8;
}

.sidebar-cont .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profile-img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .name,
  .designation {
    font-size: 0.8rem;
    margin-top: 0.8rem;
    color: #fff;
  }
}

.sidebar-cont .sidebar .menu-list {
  padding: 0 1rem;
  margin-top: 0rem;
  list-style: none;
}

.menu-list .menu-item {
  display: flex;
  align-items: left;
  padding: 0;
  margin: 1.5rem 0;
}

.menu-list .menu-item .menu-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: .1rem;
  padding: 0 0 0 1rem;
}