<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
	<div class="card col-sm-12" style="border:none;">
		<p-table id="customerTable" #dt [value]="Quib_User" [columns]="cols" responsiveLayout="scroll"
			[paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" [resizableColumns]="true"
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
			[globalFilterFields]="['user', 'movies']" styleClass="p-datatable-striped,width:max-content">
			<ng-template pTemplate="caption">
				<div class="row">
					<div class="p-input-icon-right ml-5">
						<i class="pi pi-search"></i>
						<input pInputText type="text" id="search-box" placeholder="Search by User or Movies"
							(input)="applyFilterGlobal($event, 'contains')" />
					</div>
				</div>
			</ng-template>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th>S.no</th>
					<th *ngFor="let col of columns">{{col.headers}}</th>
					<th>Action</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-i="rowIndex" let-mostActiveQuib>
				<tr>
					<td>{{i+1}}</td>
					<td>{{mostActiveQuib.user}}</td>
					<td>{{mostActiveQuib.movies}}</td>
					<td>{{mostActiveQuib.quib}}</td>
					<td>{{mostActiveQuib.time}}</td>
					<td>{{mostActiveQuib.createdDate}}</td>
					<td>{{mostActiveQuib.postedDate}}</td>
					<td>
						<div class="btn-grp">
							<button (click)="IsEnabled(mostActiveQuib?.id,false)" pTooltip="mark as Decline" pButton type="button"
								class="p-button-success" *ngIf="mostActiveQuib.isEnabled ==='Approved'"
								style="height: 30px;">{{mostActiveQuib.isEnabled}}</button>
							<button (click)="IsEnabled(mostActiveQuib?.id,true)" pButton type="button" class="p-button-danger"
								pTooltip="mark as Approved" *ngIf="mostActiveQuib.isEnabled !='Approved'"
								style="height: 30px">{{mostActiveQuib.isEnabled}}</button>
						</div>
					</td>
					<td>
						<div class="btn-grp">
							<button (click)="IsBumped(mostActiveQuib?.id,false)" pTooltip="mark as Decline" pButton type="button"
								class="p-button-success" *ngIf="mostActiveQuib.isBumped =='Saved'"
								style="height: 30px;">{{mostActiveQuib.isBumped}}</button>
							<button (click)="IsBumped(mostActiveQuib?.id,true)" pButton type="button" class="p-button-danger"
								pTooltip="mark as Saved" *ngIf="mostActiveQuib.isBumped !='Saved'"
								style="height: 30px">{{mostActiveQuib.isBumped}}</button>
						</div>
					</td>
					<td>{{mostActiveQuib.quibType}}</td>
					<td>
						<div class="btn-grp">
							<!-- <button class="p-button-warning" pButton type="button" icon="pi pi-user-edit"
								 pTooltip="edit most active quib"
								(click)="EditMostActiveQuib(mostActiveQuib?.id)"
								tooltipPosition="bottom" style="margin-right:5px"></button> -->
							<button class="p-button-danger" pButton type="button" icon="pi pi-trash"
							(click)="deleteQuib(mostActiveQuib?.id)"	pTooltip="Delete Quib" tooltipPosition="bottom"></button>
						</div>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
					<td class="text-center text-danger font-weight-700" colspan="12">
						No Records Found.
					</td>
				</tr>
			</ng-template>
		</p-table>
		<ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
	</div>

	<!--pop model edit movies  start from here ------>
	<!-- <p-dialog [(visible)]="display" [modal]="true" header="Most Active Quib" [style]="{width: '60vw',height:'100vh'}" position="top"
	[baseZIndex]="10000">
		<form [formGroup]="mostActiveQuibForm">
			<div class="card col-sm-12">
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="h-100 mt-5">
							<div class="card-body">
								<div class="row gutters">
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
										<div class="form-group">
											<label for="name">User</label>
											<input type="text" class="form-control" formControlName="user">
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
										<div class="form-group">
											<label for="image">Movie </label>
											<input type="text" class="form-control" formControlName="movies">
										</div>
									</div>
								</div>
								<div class="row gutters">
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
										<div class="form-group">
											<label for="name">Quib</label>
											<input type="text" class="form-control" formControlName="quib">
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
										<div class="form-group">
											<label for="image">Time </label>
											<input type="text" class="form-control" formControlName="time">
										</div>
									</div>
								</div>
								<div class="row gutters">
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
										<div class="form-group">
											<label for="name">Created Date</label>
											<input type="date" class="form-control" formControlName="createdDate">
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
										<div class="form-group">
											<label for="image">Posted Date </label>
											<input type="date" class="form-control" formControlName="postedDate">
										</div>
									</div>
								</div>
								<div class="row gutters">
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
										<label for="name">Is Enabled</label>
										<div class="form-group">
											<select class="form-control" formControlName="isEnabled" >
												<option [value]="true">true</option>
												<option [value]="false">false</option>
											</select>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
										<label for="image">Is Bumped </label>
										<div class="form-group">
											<select class="form-control" formControlName="isBumped">
												<option [value]="true">true</option>
												<option [value]="false">false</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row gutters">
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
										<div class="form-group">
											<label for="name">Quib Type</label>
											<input type="text" class="form-control" formControlName="quibType">
										</div>
									</div>
									
								</div>
								<div class="row gutters mt-4">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
										<div class="text-right">
											<button pButton type="button" id="submit" name="submit"
												class="p-button-danger mr-4"
												(click)="display = false">Cancel</button>
											<button pButton type="button" id="submit" name="submit" class="p-button-success"
											>Submit</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		
	</p-dialog> -->
	<!--pop model edit movies  end  from here ------>
	<p-confirmDialog header="Confirmation" [style]="{width: '40vw'}" position="top" [baseZIndex]="10000"
		icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>